/*****************************************************************************/
/* HEADER */

#header .input-group {
	max-width: 350px;
}
.navbar.navbar-light.bg-light {
	background-color: #f8f9fa7f !important;
}
#header nav.bg-light a.navbar-brand {
	margin: auto;
}

/*****************************************************************************/
/* COUNTDOWN */

#top-countdown {
	padding: 50px 0;
}

/*****************************************************************************/
/* ICO SECTION */

#top-status {
	color: #f7f7f7;
}
#top-status canvas {
	/* 1 */
	/* background-color: #316db7; */
	/* background-color: #4c89d4; */
	/* background-color: #3d7fd0; */
	/* background-color: #177fd7; */

	/* 2 gradient */
	/* background: linear-gradient(45deg, #0f7699, #404c8c); */

	/* 2 gradient */
	background-image: linear-gradient(to right top, rgb(25, 182, 143), rgb(68, 100, 148));

	background-position: center bottom;
	/* 3 img */
	/* background-image: url(http://html5webtemplate.com/images/bg.jpg); */
	/* 4 img */
	/* background-image: url(https://mobirise.com/bootstrap-template/assets/images/macbook-926425-1920-1920x1279.jpg); */
	/* 5 img */
	/* background-image: url(https://mobirise.com/bootstrap-template/landing-page-template/assets/images/jason-blackeye-127871-2000x1333.jpg); */

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -10;
}
#top-status .canvas-overlay {
	/* background: linear-gradient(45deg, #0f7699, #404c8c); */
	/* background-color: #506682; */
	opacity: 0.3;
	z-index: -5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#web3-message {
	padding: 20px 0;
	background-color: #ecfefb; /* default green */
}
#web3-message.warning {
	background-color:#fef9ec;
}
#web3-message.error {
	background-color: #fff8f8;
}
#web3-message .text-center.text-muted {
	margin-top: 13px;
}
#web3-message .btn {
	cursor: pointer;
}
#web3-message .selected-currency {
	color: green;
}

#web3-form {
	padding: 20px 0;
	background-color: #ecfefb;
}
#web3-form .text-center.text-muted {
	margin-top: 13px;
}
#web3-form .btn {
	cursor: pointer;
}
#web3-form .selected-currency {
	color: green;
}

#web3-available {
	padding: 20px 0;
	background-color: #fcfeec;
}
#web3-available.btn {
	cursor: pointer;
}

#web3-missing {
	padding: 20px 0;
	background-color: #fef9ec
}

#top-status {
	padding: 50px 0;
}

/*****************************************************************************/
/* FOOTER */

#footer {
	padding: 50px 0;
	background-color: #f1f1f1;
}

/*****************************************************************************/
/* SOCIAL */

#social {
	padding: 50px 0;
	background-color: white;
}
#social .input-group {
	padding: 0 0 80px;
}
#social #subscribe {
	margin-top: 40px;
}

/*****************************************************************************/
/* PRESS */

#press .row.text-center img {
	padding: 30px 0;
	max-width: 100%;
	margin-bottom: 15px;
}
/*****************************************************************************/
/* PROJECT FEATURES */

#project-features {
	padding: 50px 0;
	background-color: #f9f9f9;
}
#project-features h5 {
	margin-top: 20px;
}
#project-features p {
	margin-bottom: 30px;
}

/*****************************************************************************/
/* PROJECT FEATURES */

#project-info .row.text-center img {
	max-width: 100%;
	margin-bottom: 15px;
}
#project-info .btn.btn-lg.btn-outline-primary {
	min-width: 70%;
	margin: 50px 0;
}
#project-info-1 {

}
#project-info-2 {
	padding: 50px 0;
}

/*****************************************************************************/
/* ROADMAP */

#roadmap {
	padding: 50px 0;
}

/*****************************************************************************/
/* TESTIMONIALS */

#testimonials {
	padding: 50px 0;
}
#testimonials h3 {
	margin-bottom: 20px;
}
#testimonials img {
	margin: auto;
	margin-bottom: 20px;
}
#testimonials .slider-item > div {
	max-width: 700px;
	margin: auto;
}

/*****************************************************************************/
/* SPECS */

#specs {
	padding: 50px 0;
	background-color: #f9f9f9;
}

/*****************************************************************************/
/* SPECS */

#team {
	padding: 50px 0;
}
#team h3 {
	margin: 20px 0 40px;
}
#team h5 {
	margin-top: 20px;
}

/*****************************************************************************/
/* NEWS */

#news {
	padding: 50px 0;
}
#news h3 {
	margin-bottom: 20px;
}
#news .item {
	margin-top: 20px;
	margin-bottom: 40px;
}
#news .btn.btn-sm {
	width: 160px;
}
#news img.post-image {
	max-width: 100%;
}
#news .event-box {
	background-color: #4a4;
	padding: 10px;
	text-align: center;
	color: white;
}

/*****************************************************************************/
/* HIRE ME */

#hire-me {
	padding: 50px 0;
	background-color: #f9f9f9;
}
#hire-me .btn.btn-lg {
	margin-bottom: 30px;
}
